<% layout('layouts/boilerplate') -%>
<body>

    <div class="row">
        <div class="col-8 offset-2">

    <h2>Listing details</h2>
    <div class="card">

        <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="...">
  <div class="card-body">
    <p class="card-text">
  

    <ul>
        <li><b>Title :</b><%= listing.title %></li>
        <li><b>Description :</b><%= listing.description %></li>
        <li><b>Price :</b>&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li><b>Location  :</b><%= listing.location %></li>
        <li><b>Country :</b><%= listing.country %></li>

        
    </ul>
    </p></div>
</div>
<div class="btns">
    <form action="/listings/<%=listing.id %>/edit" method="get">
        <button class="btn btn-dark m-3">Edit</button>
    </form>
    <form action="/listings/<%=listing.id %>?_method=Delete" method="post">
        <button class="btn btn-dark m-3">Delete</button>
    </form>
</div>

     </div>
    </div>
</body>